.investmentContainer{
    background-color: beige;
    height:100vh;
    padding:2rem;
    margin-left:11rem;
    overflow-y: scroll;
}
.investmentHeader{
    text-align: center;
    font-weight:700;
    font-size: 1.5rem;
}
.totalAssetDetails{
    text-align: left;
    border: 1px solid black;
    width:fit-content;
    margin-top:2rem;
}
.totalAssetValueTag{
    font-size: 1.5rem;
    font-weight:700;
    color:grey;
}
.totalAssetValue{
    font-size: 2.5rem;
    font-weight:700;
}
.portfolioHeaderTag{
    margin-top:2rem;
    font-weight:700;
    font-size:1.5rem;
}
.carouselSection{
    border:1px solid black;
    height:12rem;
    margin-top:0.5rem;
    margin-bottom:2rem;
}

.watchlistIcon{
    vertical-align: middle;
    margin-top:-1.1rem;
    margin-left:1rem;
    cursor: pointer;
}
.changeInValueSection{
    font-weight: bold;
    color:grey;
}
.changedPercentValue{
    color:green;
    font-size:1.3rem;
    // color:red;
}
.clockIcon{
    vertical-align: middle;
}
.sectorsHeader{
    font-size:1.5rem;
    font-weight:700;
}
.investmentIcon{
    text-align: center;
    border: 1px solid red;
    height:5rem;
    width:5rem;
    border-radius: 50%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.investmentOptionsSection{
    margin-top:1rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
}
.investmentOption{
    border: 1px solid black;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center children horizontally */
    justify-content: center; /* Optional: Center content vertically if needed */
       /* Add padding for better spacing */
    text-align: center;  
 }
 .investmentType{
    margin-top:0.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
 }
 .watchlistHeader{
    font-size: 1.5rem;
    font-weight: bold;
    width: fit-content;
    display: inline;
 }
 .watchlistOption{
    padding:1rem;
    border: 1px solid black;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap:1rem;height:4rem;
 }
 .watchlistContainer{
    margin-top:1rem;
    padding-bottom: 4rem;
 }
 .watchlistIconSection{
    padding:1rem;
    border: 1px solid black;
    flex:1;
    border-radius: 50%;
 }
 .watchlistInvestmentNameSection{
  text-align: left;
    border: 1px solid black;
    flex:11;
    display: flex;
    flex-direction: column;
 }
 .watchlistInvestmentValueSection{
    padding:1rem;
    border: 1px solid black;
    flex:4;
 }
 .watchlistInvestmentName{
    font-size: 1.5rem;
    font-weight: bold;
 }
 .lastUpadtedValue{
    font-size:1.3rem;
    color:green;
    font-weight: 700;
 }
 .addWatchlistItem{
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
 }